.gen_con {
  display: grid;
}
.why_wrapper {
  margin-top: 15vh;
}
.service_wrapper {
  margin-top: 25vh;
}
.contact_wrapper {
  margin-top: 15vh;
}
.about_wrapper {
  margin-top: 25vh;
}
.testimonial_wrapper {
  margin-top: 25vh;
}